node_modules/
.expo/
dist/
.idea/
android/
web-build/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
index.js

yarn.lock
package-lock.json
yarn-error.log

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
metro.config.js
